
/*@supports (-moz-appearance:meterbar) { Begin Firefox Hack=============================*/
/*Default Styles ---------------------------------*/
    body {
        background-color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 3vw;
    }

    h2 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

    p {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .button {
    }

    .footer {
        position: fixed;
        background-color: #fbb03b;
        height: 70px;
        width: 100%;
        left: 0%;
        bottom: 0%;
        line-height: 70px;
        text-align: center;
        vertical-align: middle;
    }

    .footertxt {
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }

    /*Header Styles ----------------------------------------------*/
    .header {
        position: fixed;
        background-color: #fbb03b;
        height: 70px;
        width: 100%;
        left: 0%;
        top: 0%;
    }

    .headerdiv {
        left: 0px;
        height: inherit;
        width: auto;
        display: inline-block;
    }

    .headertxt {
        display: inline-block;
        color: white;
    }

    .headerbtn {
        margin-top: 25px;
        margin-left: 15px;
        position: relative;
        transform: translate(0%,-50%);
        top: 50%;
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 30px;
        border: solid 0px;
        background-color: #fbb03b;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px rgb(180,100,20);
        transition: .05s;
    }
    .headerbtn:hover {
        background-color: rgb(220,130,30);
    }
    .headerbtn:active {
        box-shadow: 0 2px rgb(150,150,150);
    }

    #JSdiv {
        height: inherit;
        width: auto;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        margin: auto;
    }

    #JSicon {
        display: inline-block;
        transform: translate(0%,-50%);
        position: relative;
        width: 50px;
        top: 50%;
    }

    .emailbtn {
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url(Assets/Images/emailicon.png);
        background-repeat: no-repeat;
        background-size: 30px;
        border: solid 1px;
        background-color: red;
        border-radius: 50%;
    }
    .bodycont{
        margin:auto;
        margin-top:70px;
        margin-bottom:70px;
        width:1000px;
        max-width:100%;
        padding-top:10px;
    }
    .bodydiv{
        background-color:white;
        -webkit-flex: 1;  /* Safari 6.1+ */
        -ms-flex: 1;  /* IE 10 */    
        flex: 1;
        height:200px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .bodyimg{
        cursor:pointer;
        float:left;
        height: 200px;
        border-radius: 50%;
        margin-right:10px;
    }
    .bodytitlecont{
    }
    .bodytitle{
        display:inline;
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
    }
    .bodysummary{
        margin-left:150px;
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        line-height: 36px;
        border-top:1px solid black;
    }
    .learnmore{

    }
    .bodyline{

    }
}/*End Firefox Hack===================================================*/
    
