
@supports (-webkit-appearance:none) { /*Begin Chrome Hack=============================*/

    /*Default Styles ---------------------------------*/
    body {
        background-color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    h1 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 3vw;
    }
    h2 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
    }
    p {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
    }
    span {
        color: gray;
    }
    .button {
        background-color: #4CAF50; /* Green */
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    /*Header Styles ----------------------------------------------*/
    .header{
        position:fixed;
        background-color: rgb(250, 250, 250);
        height:70px;
        width:100%;
        left:0%;
        top:0%;
    }
    .headerdiv{
        display:inline-block;
        position:relative;
        width:auto;
        height:70px;
    }
    .headertxt{
        transform: translate(0%, -80%);
        display:inline-block;
        position:relative;
        width: auto;
        text-align:left;
    }
    .headerbtn{
        transform: translate(0%, -50%);
        position: relative;
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 60px;
        height: 60px;
        width: 60px;
        cursor: pointer;
        border-radius: 50%;
        top: 50%;
        border: 3px solid rgb(0,0,0);
    }
    .linkedinbtn{
        background-image: url(Assets/Images/LinkedInLogo.png);
    }
    .email{
        display:inline-block;
        position: relative;
        top: 2.5px;
        border: 3px solid rgb(0,0,0);
        width:20%
    }
    .emailbtn{
        background-image: url(Assets/Images/JSLogo.png);
    }
    .phone{
        display:inline-block;
        position: relative;
        top: 2.5px;
        border: 3px solid rgb(0,0,0);
        width:20%
    }
    .phonebtn{
        background-image: url(Assets/Images/PhoneIconPop.png);
    }
    .h11{      
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0%;
        text-align: center;
        cursor: default;  
    }
    .h12{  
        position: absolute;
        width: 100%;
        left: 0%;
        bottom: 20px;
        cursor: default;
        text-align: center;
    }
    .btntxt{
        display:none;
        color:white;
        position:center;
        text-align:center;
        width:auto;
        height:auto;
        font-size: 20px;
        pointer-events:none;
    }
    /*btn1 Stuff----------------------------------------------------------------------*/
    .boxcont1{
        pointer-events:none;
        border: 1px solid red;
        position: fixed;
        height: 180px;
        width: 180px;
        display: inline-block;
        transform: translate(-50%,-50%);
        position: fixed;
        top: 50%;
        left: 33%;
    }
    .btn1cont{
        display:inline-block;
        position: fixed; 
        left:0%;
        top: 70px;
        border: 1px solid blue;
        
    }
    .btn1{
        background-image: url(Assets/Images/IconGameController.png);
        background-color: rgb(251,176,59);
        transform: translate(-50%,-50%);
        position: fixed;
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 215px;
        border: 0px;
        height: 145px;
        width: 145px;
        cursor: pointer;
        border-radius: 50%;
        top: 50%;
        left: 33%;
        box-shadow: 0 9px rgb(180,100,20);
    }
    .btn1.hide-bg {
        background-image: none;
    }
    .box1{
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: fixed;
        top: -30%;
        left: 50%;
        border: 3px solid lightgrey;
        border-radius: 50%;
    }
    .box2{
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: fixed;
        top: 10%;
        left: -25%;
        border: 3px solid lightgrey;
        border-radius: 50%;
    }
    .box3{
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: fixed;
        top: 90%;
        left: -25%;
        border: 3px solid lightgrey;
        border-radius: 50%;
    }
    .box4{
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: fixed;
        top: 130%;
        left: 50%;
        border: 3px solid lightgrey;
        border-radius: 50%;
    }
    .btn1:active{
        box-shadow: 0 5px rgb(180,100,20);
    }
    .game{
        display: inline-block;
        position:relative;
        width: 450px;
        font-size: 48px;
        text-align:left;
        border: 1px solid green;
        top: 30px;
        left: 100%;
    }
    /*btn2 stuff----------------------------------------------------------------------*/
    .boxcont2{
        pointer-events:none;
        border: 1px solid red;
        position: fixed;
        height: 180px;
        width: 180px;
        display: inline-block;
        transform: translate(-50%,-50%);
        position: fixed;
        top: 50%;
        left: 66%;
    }
    .btn2cont{
        transform: translate(-50%, -50%);
        height: 200px;
        width:200px;
        position: absolute; 
        top: 50%;
        left: 66%;
    }
    .btn2 {
        background-image: url(Assets/Images/IconMouse.png);
        background-color: rgb(106,215,255);
        transform: translate(-50%,-50%);
        position: fixed;
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 215px;
        border: 0px;
        height: 145px;
        width: 145px;
        cursor: pointer;
        border-radius: 50%;
        top: 50%;
        left: 66%;
        box-shadow: 0 9px rgb(80,170,200);
    }
    .btn2.hide-bg {
        background-image: none;
    }
    .box2-2{
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: fixed;
        top: 10%;
        left: 125%;
        border: 3px solid lightgrey;
        border-radius: 50%;
    }
    .box2-3{
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: fixed;
        top: 90%;
        left: 125%;
        border: 3px solid lightgrey;
        border-radius: 50%;
    }
    .btn2:active{
        box-shadow: 0 5px rgb(80,170,200);
    }
    .web{
        display:inline-block;
        position:relative;
        width: 450px;
        font-size: 48px;
        text-align:right;
        border: 1px solid green;
        top: 30px;
        right:452px;
    }
}/*End Chrome Hack===================================================*/
    
