
@supports (-moz-appearance:meterbar) { /*Begin Firefox Hack=============================*/
/*Default Styles ---------------------------------*/
    body {
        background-color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 3vw;
    }

    h2 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

    p {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .button {
    }

    .footer {
        position: absolute;
        background-color: rgb(200, 200, 200);
        height: 70px;
        width: 100%;
        left: 0%;
        bottom: 0%;
        line-height: 70px;
        text-align: center;
        vertical-align: middle;
    }

    .footertxt {
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }
    /*Header Styles ----------------------------------------------*/
    .header {
        position: absolute;
        background-color: rgb(200, 200, 200);
        height: 70px;
        width: 100%;
        left: 0%;
        top: 0%;
    }

    .headerdiv {
        left: 0px;
        height: inherit;
        width: auto;
        display: inline-block;
    }

    .headertxt {
        display: inline-block;
        color: white;
    }

    .headerbtn {
        margin-top: 25px;
        margin-left: 15px;
        position: relative;
        transform: translate(0%,-50%);
        top: 50%;
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 30px;
        border: solid 0px;
        background-color: rgb(200,200,200);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px rgb(150,150,150);
    }
    .headerbtn:hover {
        background-color: rgb(180,180,180);
    }
        .headerbtn:active {
            box-shadow: 0 2px rgb(150,150,150);
        }

    #JSdiv {
        height: inherit;
        width: auto;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        margin: auto;
    }

    #JSicon {
        display: inline-block;
        transform: translate(0%,-50%);
        position: relative;
        width: 50px;
        top: 50%;
    }

    .emailbtn {
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url(Assets/Images/emailicon.png);
        background-repeat: no-repeat;
        background-size: 30px;
        border: solid 1px;
        background-color: red;
        border-radius: 50%;
    }
    /*--------------------------------------------------*/
    .h11 {
        position: absolute;
        width: 100%;
        left: 0%;
        text-align: center;
        cursor: default;
    }

    .h12 {
        position: absolute;
        width: 100%;
        cursor: default;
        text-align: center;
    }

    .arrow {
        transform: translate(0%,-50%);
        max-width: 20px;
        position: absolute;
        pointer-events: none;
    }
    /*btn1 Stuff----------------------------------------------------------------------*/
    .btn1div{
        height: 150px;
        width: 150px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 33%;
    }
    .btn1 {
        background-image: url(Assets/Images/IconGameController.png);
        background-repeat: no-repeat;
        background-color: rgb(251,176,59);
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 215px;
        border: 0px;
        height: 100%;
        width: 100%;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 9px rgb(180,100,20);
    }
    .btn1:hover {
        background-image: none;
    }
    .btn1:active {
        box-shadow: 0 5px rgb(180,100,20);
    }
    .btntxt {
        pointer-events: none;
        display: none;
        color: white;
        position: center;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 20px;
    }
    .boxcont1 {
        pointer-events: none;
        position: absolute;
        height: 180px;
        width: 180px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .box1 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: -30%;
        left: 50%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .box2 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10%;
        left: -25%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .box3 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 90%;
        left: -25%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .box4 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 130%;
        left: 50%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .game {
        pointer-events: none;
        display: inline-block;
        position: relative;
        width: 600px;
        font-size: 48px;
        text-align: left;
        top: 18%;
        left: 100%;
        color: rgb(251,176,59);
    }
    /*btn2 stuff----------------------------------------------------------------------*/
    .btn2div{
        height: 150px;
        width: 150px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 66%;
    }
    .btn2 {
        background-image: url(Assets/Images/IconMouse.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 215px;
        border: 0px;
        height: 100%;
        width: 100%;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(106,215,255);
        box-shadow: 0 9px rgb(80,170,200);

    }

    .btn2:hover {
        background-image: none;
    }

    .btn2:active {
        box-shadow: 0 5px rgb(80,170,200);
    }
    .boxcont2 {
        pointer-events: none;
        position: absolute;
        height: 180px;
        width: 180px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .box2-2 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10%;
        left: 125%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .box2-3 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 90%;
        left: 125%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .web {
        pointer-events: none;
        display: inline-block;
        position: relative;
        width: 450px;
        font-size: 48px;
        text-align: right;
        top: 30px;
        right: 452px;
        color: rgb(106,215,255);
    }
}/*End Firefox Hack===================================================*/
    
