/*@supports (-moz-appearance:meterbar) { Begin Firefox Hack=============================*/
/*Default Styles ---------------------------------*/
    body {
        background-color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1 {
        font-weight: normal;
        font-family: 'Quicksand', sans-serif;
        display: inline-block;
        text-align:center;
        vertical-align: middle;
        line-height: normal;
        font-family: 'Quicksand', sans-serif;
    }

    h2 {
        font-family: 'Quicksand', sans-serif;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

    p {
       font-family: 'Quicksand', sans-serif;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 36px;
    }

    span {
        font-family: 'Quicksand', sans-serif;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .footer {
        position: fixed;
        background-color: rgb(200, 200, 200);
        border-top:2px solid rgb(150,150,150);
        height: 70px;
        width: 100%;
        left: 0%;
        bottom: 0%;
        text-align: center;
        z-index:1;
        transition: 0.5s;
        vertical-align: middle;
    }

    .footertxt {
        position:relative;
        color: white;
        font-size: 24px;
        user-select:text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
    }
    /*Header Styles ----------------------------------------------*/
    .header {
        position: fixed;
        background-color: rgb(200, 200, 200);
        border-bottom: 2px solid rgb(150,150,150);
        height: 70px;
        width: 100%;
        left: 0%;
        top: 0%;
        z-index:1;
        transition: 0.5s;
    }
    .headertxt {
        float:left;
        position:relative;
        color: white;
    }

    .headerbtn {
        position: relative;
        top: 30%;
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        border: 1px solid rgb(150,150,150);
        background-color: rgb(200,200,200);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px rgb(150,150,150);
        transition: .05s;
    }
    .headerbtn:hover {
        background-color: rgb(180,180,180);
    }
    .headerbtn:active {
        box-shadow: 0 2px rgb(150,150,150);
    }
    .headerbtn:hover .tooltiptext {
        visibility: visible;
    }
    .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: rgb(200,200,200);
        border: 2px solid rgb(150,150,150);
        color: white;
        text-align: center;
        border-radius: 20px;
        padding: 5px 0;
        position: absolute;
        top:120%;
        left:0px;
        z-index: 3;
    }
    .orange{
        background-color: rgb(251,176,59);
        box-shadow: 0 5px rgb(180,100,20);
        border: 1px solid rgb(180,100,20);
    }
    .blue{
        background-color: rgb(106,215,255);
        box-shadow: 0 5px rgb(80,170,200);
        border: 1px solid rgb(80,170,200);
    }
    .JSdivbig {
        display:none;
        width: auto;
        position: absolute;
        z-index:2;
        top:10px;
        left:50%;
        transform:translate(-50%,0%);
    }

    .JSdivsmall {
        display:none;
        height:40px;
        width: auto;
        position: absolute;
        top: 5px;
        z-index:2;
        left:50%;
        transform:translate(-50%,0%);
    }
    #JSicon {
        float:left;
        position:relative;
        height: 50px;
        display:inline;
    }
    /*--------------------------------------------------*/
    .h11 {
        position: absolute;
        width: 100%;
        left: 0%;
        text-align: center;
        cursor: default;
    }

    .h12 {
        position: absolute;
        width: 100%;
        cursor: default;
        text-align: center;
    }

    .arrow {
        transform: translate(0%,-50%);
        max-width: 20px;
        position: absolute;
        pointer-events: none;
    }
    /*btn1 Stuff----------------------------------------------------------------------*/
    .btn1div{
        height: 300px;
        width: 300px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 33%;
    }
    .btn1 {
        background-image: url(Assets/Images/IconGameController.png);
        background-repeat: no-repeat;
        background-color: rgb(251,176,59);
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 140%;
        border: 1px solid rgb(180,100,20);
        height: 50%;
        width: 50%;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 9px rgb(180,100,20);
        position:absolute;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
    }
    .btn1:hover {
        background-image: none;
    }
    .btn1:active{
        box-shadow: 0 5px rgb(180,100,20);
    }
    .btntxt {
        pointer-events: none;
        display: none;
        color: white;
        position: center;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 20px;
    }
    .boxcont1 {
        pointer-events: none;
        position: absolute;
        height: 180px;
        width: 180px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .box1 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: -30%;
        left: 50%;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .box2 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10%;
        left: -25%;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .box3 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 90%;
        left: -25%;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .box4 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 130%;
        left: 50%;
        border: 1px solid lightgrey;
        border-radius: 50%;
    }

    .game {
        pointer-events: none;
        display: none;
        position: absolute;
        font-size: 48px;
        width:100%;
        color: rgb(251,176,59);
    }

    /*btn2 stuff----------------------------------------------------------------------*/
    .btn2div{
        height: 300px;
        width: 300px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 33%;
    }
    .btn2 {
        background-image: url(Assets/Images/IconMouse.png);
        background-repeat: no-repeat;
        background-color: rgb(106,215,255);
        background-position-x: 50%;
        background-position-y: 55%;
        background-size: 140%;
        border: 1px solid rgb(80,170,200);
        height: 50%;
        width: 50%;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 9px rgb(80,170,200);
        position:absolute;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
    }

    .btn2:hover {
        background-image: none;
    }

    .btn2:active {
        box-shadow: 0 5px rgb(80,170,200);
    }
    .boxcont2 {
        pointer-events: none;
        position: absolute;
        height: 180px;
        width: 180px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .box2-2 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10%;
        left: 125%;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .box2-3 {
        pointer-events: none;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 90%;
        left: 125%;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .web {
        pointer-events: none;
        display: none;
        position: absolute;
        font-size: 48px;
        text-align: center;
        width:100%;
        color: rgb(106,215,255);
    }
}/*End Firefox Hack===================================================*/
    