
div{
    border: 3px solid #73AD21;
}
body{
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1{
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
}
p{
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
}
span{
    color: black;
}
.button {
    background-color: #4CAF50; /* Green */
    outline: none;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

