/*@supports (-moz-appearance:meterbar) { Begin Firefox Hack=============================*/
/*Default Styles ---------------------------------*/
    body {
        margin:0;
        background-color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1 {
        font-weight: normal;
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 48px;
    }

    h2 {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

    p {
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-size:36px;
    }
    a {
        color:black;
        text-decoration:none;
    }
    a:hover {
        color: gray;
        text-decoration:underline;
    }

    .footer {
        position: page;
        background-color: #fbb03b;
        border-top:2px solid rgb(180,100,20);
        height: 70px;
        width: 100%;
        left: 0%;
        bottom: 0%;
        text-align: center;
        z-index:1;
        transition: 0.5s;
    }
    .footerweb {
        position: page;
        background-color: rgb(106,215,255);
        border-top:2px solid rgb(80,170,200);
        height: 70px;
        width: 100%;
        left: 0%;
        bottom: 0%;
        text-align: center;
        z-index:1;
        transition: 0.5s;
    }
    .footertxt {
        position:relative;
        color: white;
        font-size: 24px;
        user-select:text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
    }
    /*Header Styles ----------------------------------------------*/
    .header {
        position: fixed;
        background-color: #fbb03b;
        border-bottom:2px solid rgb(180,100,20);
        height: 70px;
        width: 100%;
        left: 0%;
        top: 0%;
        z-index:1;
        transition: 0.5s;
    }
    .headerweb {
        position: fixed;
        height: 70px;
        width: 100%;
        left: 0%;
        top: 0%;
        z-index:1;
        transition: 0.5s;
        background-color: rgb(106,215,255);
        border-bottom:2px solid rgb(80,170,200);
    }
    .headertxt {
        float:left;
        position:relative;
        display: inline;
        color: white;
    }
    .headerbtn {
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        top: 30%;
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        border: 1px solid rgb(180,100,20);
        background-color: #fbb03b;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px rgb(180,100,20);
        transition: .05s;
    }
    .headerwebbtn {
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        top: 30%;
        height: 70px;
        width: 70px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: rgb(106,215,255);
        border:1px solid rgb(80,170,200);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 5px rgb(80,170,200);
        transition: .05s;
    }
    .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #fbb03b;
        border: 2px solid rgb(180,100,20);
        color: white;
        text-align: center;
        border-radius: 20px;
        padding: 5px 0;
        position: absolute;
        top:120%;
        left:0px;
        z-index: 3;
        font-size: 12px;
    }

    .headerbtn:hover .tooltiptext {
        visibility: visible;
    }
    .headerbtn:hover {
        background-color: rgb(220,130,30);
    }
    .headerbtn:active {
        box-shadow: 0 2px rgb(150,150,150);
    }

    .JSdivbig {
        display:none;
        width: auto;
        position: absolute;
        z-index:2;
        top:10px;
        left:50%;
        transform:translate(-50%,0%);
    }
    .JSdivsmall {
        display:none;
        height:40px;
        width: auto;
        position: absolute;
        top: 5px;
        z-index:2;
        left:50%;
        transform:translate(-50%,0%);
    }
    #JSicon {
        float:left;
        position:relative;
        height: 50px;
        display:inline;
    }
/*Body Styles-----------------------------------------------------*/
    .glossary {
        padding:10px;
        margin:10px;
    }
    .pagelink {
        font-weight: normal;
        color: black;
        font-family: 'Quicksand', sans-serif;
        margin:20px;
        text-align:left;
    }
    .line {
        border-top: 1px solid rgb(150,150,150);
        width: 75%;
        margin: auto;
    }
    .title {
        font-size: 48px;
        color: rgb(100,100,100);
    }
    .bodycont{
        margin:auto;
        margin-bottom:10px;
        width:1000px;
        max-width:100%;
        padding-top:10px;
    }
    .bodydiv{
        margin-top:50px;
        margin-bottom:20px;
    }
    .bodytitle{
        color: rgb(50,50,50);
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
        margin-top:20px;
    }
    .bodytitlesub{
        font-size: 24px;
    }
    .bodysummary{
        color: rgb(100,100,100);
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        line-height: 36px;
    }
    /*Button Styles-----------------------------------------------------*/
    .bodyimg{
        width: 500px;
        background-position-x: 50%; 
        background-position-y: 50%;
        background-size: 100%;
        margin: 10px;
        border: 2px solid black;
        max-width: 100%
    }
    .titleimg{
        background-color: white;
        border: 1px solid #b85047;
        height: 200px;
        width: 200px;
        background-position-x: 50%; 
        background-position-y: 50%;
        background-size: 100%;
        border-radius: 50%;
    }
    .btntxt {
        pointer-events: none;
        display:none;
        position: center;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 20px;
    }
    .backbtn{
        width:200px;
        height:50px;
        border-radius: 50px;
        box-shadow: 0 5px gray;
        cursor:pointer;
        border: 1px solid black;
        transition:.2s;
        margin-top:10px;
        margin-bottom:20px;
        margin: auto;
    }
    .backbtn:hover{
        background-color:darkgray;
    }
    .backbtn:active{
        box-shadow: 0 3px gray;
    }/*End Firefox Hack===================================================*/

    .mySlides {
        display:none;
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 1200px;
      position: relative;
      margin: auto;
      padding:10px;
      min-height:320px;
    }

    .active {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }